// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  --bg-header: #000000;
  --bg-main: #0b0b10;
  --bg-secondary: #21222a;
  --bg-accent: #0de08c;
  --bg-accent-hover: #2aea9e;
  --bg-shadow: #000000cc;

  --color-border: #414148;
  --color-main: #ffffff;
  --color-grey: #a9afbc;
  --color-light-grey: #c7cedc;
  --color-black: #0b0b10;
  --color-link: #7ec1ff;
  --color-accent: #ffed49;
  --color-green: #5ac37a;
  --color-red: #ff6e6e;
  --color-orange: #ecb424;
  --color-top: #300587;
}
